// Color Variables - Based on your design
$primary-dark: #3d1f15;
$secondary-dark: #4a2318;
$medium-brown: #8b6f47;
$golden-brown: #9d7a4d;
$cream-base: #f5ead5;
$light-beige: #e8dcc4;
$accent-blue: #4a7c9e;
$dark-text: #2c1810;


.home-bg{
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./homebg.png');
  
}
 
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup{
  animation: fadeInUp 0.6s ease-out;
}
.circular-gallery-container {
  width: 100%;
  height: 100%;
   max-width: 2500px;
   margin-top: 40px;
  pointer-events: none; // Ensure it doesn't interfere with other interactions
  z-index: 1;
}
 